<connectionStrings>
  <!--name this is the string that you will referece on your web form to point to the database you are interested in
      connectionString 3 parmeters 
        Data Source indicates the SQL Server Name
        Initial Catalog indicates the Sql database name 
        Integrated Security set to true
      providerName this indicates the type of client your database needs (we have an sql database therefore our 
        client is the SQLClient--> 
  <add name="NWDB"
       connectionString="Data Source=.; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
       providerName="System.Data.SqlClient"/>
  <!--<add name="NWDB"
     connectionString="Data Source=whateever/SQLEXPRESS; Initial Catalog=Northwind_CPSC1517; Integrated Security=true"
     providerName="System.Data.SqlClient"/>-->
</connectionStrings>
